nodered/door_sensor_flow.json
[
  {
    "id": "f1a0a1f0f0a0b001",
    "type": "tab",
    "label": "M5 Door Sensor",
    "disabled": false,
    "info": "MQTT -> parse -> Telegram"
  },
  {
    "id": "mqtt_broker_cfg",
    "type": "mqtt-broker",
    "name": "Mosquitto",
    "broker": "127.0.0.1",
    "port": "1883",
    "clientid": "nodered-door-monitor",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "30",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": ""
  },
  {
    "id": "telegram_bot_cfg",
    "type": "telegram bot",
    "botname": "door-alert-bot",
    "usernames": "",
    "chatids": "",
    "baseapiurl": "",
    "updatemode": "polling",
    "pollinterval": "300",
    "usesocks": false,
    "sockshost": "",
    "socksprotocol": "socks5",
    "socksport": "6667",
    "socksusername": "",
    "sockspassword": "",
    "bothost": "",
    "botpath": "",
    "localbotport": "8443",
    "privatekey": "",
    "certificate": "",
    "useselfsignedcertificate": false,
    "sslterminated": false,
    "verboselogging": false
  },
  {
    "id": "mqtt_in_state",
    "type": "mqtt in",
    "z": "f1a0a1f0f0a0b001",
    "name": "door/state",
    "topic": "door/state",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker_cfg",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 100,
    "wires": [["json_parse"]]
  },
  {
    "id": "mqtt_in_tamper",
    "type": "mqtt in",
    "z": "f1a0a1f0f0a0b001",
    "name": "door/tamper",
    "topic": "door/tamper",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker_cfg",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 160,
    "wires": [["json_parse"]]
  },
  {
    "id": "mqtt_in_heartbeat",
    "type": "mqtt in",
    "z": "f1a0a1f0f0a0b001",
    "name": "door/heartbeat",
    "topic": "door/heartbeat",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker_cfg",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 220,
    "wires": [["json_parse"]]
  },
  {
    "id": "json_parse",
    "type": "json",
    "z": "f1a0a1f0f0a0b001",
    "name": "Parse payload",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 370,
    "y": 160,
    "wires": [["format_telegram", "debug_payload"]]
  },
  {
    "id": "format_telegram",
    "type": "function",
    "z": "f1a0a1f0f0a0b001",
    "name": "Format Telegram message",
    "func": "const p = msg.payload || {};\nconst event = p.event || 'UNKNOWN';\nconst batt = p.battery_mv ? `${p.battery_mv} mV` : 'n/a';\nconst wake = p.wake_reason || 'n/a';\nconst ts = p.timestamp || new Date().toISOString();\nmsg.payload = {\n  chatId: '<PUT_CHAT_ID_HERE>',\n  type: 'message',\n  content: `Door Sensor Alert\\nEvent: ${event}\\nBattery: ${batt}\\nWake: ${wake}\\nTime: ${ts}`\n};\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 160,
    "wires": [["telegram_sender"]]
  },
  {
    "id": "telegram_sender",
    "type": "telegram sender",
    "z": "f1a0a1f0f0a0b001",
    "name": "Send Telegram",
    "bot": "telegram_bot_cfg",
    "x": 860,
    "y": 160,
    "wires": [["debug_telegram"]]
  },
  {
    "id": "debug_payload",
    "type": "debug",
    "z": "f1a0a1f0f0a0b001",
    "name": "Raw JSON",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 590,
    "y": 260,
    "wires": []
  },
  {
    "id": "debug_telegram",
    "type": "debug",
    "z": "f1a0a1f0f0a0b001",
    "name": "Telegram send result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 1080,
    "y": 160,
    "wires": []
  }
]
